---
import ChargeSection from '../components/ChargeSection.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Tesla - El coche de tus sueños'>
  <Header />

  <main
    class='snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth'
  >
    <div class='snap-center'>
      <Hero />
    </div>
    <div class='snap-center'>
      <ChargeSection />
    </div>
    <div class='snap-center'>
      <Hero />
    </div>
    <div class='snap-center'>
      <ChargeSection />
    </div>
  </main>
</Layout>
